name: CI
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev
jobs:
  tests:
    runs-on: [ubuntu-18.04]
    strategy:
      matrix:
        php: [7.2]
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          tools: composer
      - uses: actions/checkout@v1
      - name: Install Composer dependencies
        run: composer install
      - name: Coding standard
        run: php${{ matrix.php }} ./vendor/bin/ecs check src tests
      - name: PHPUnit
        run: php${{ matrix.php }} ./vendor/bin/phpunit --testdox --verbose --stop-on-failure
